html,body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;

}
#navbar{
    width: 100%;
    height: 4rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
a{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}
#year{
    padding: 10px 14px;
    border:1px solid gray;
    background-color: steelblue;
    color:white;
    border-radius: 10px;
}
a:visited,:active{
    text-decoration: none;
}
input{
    height: 2rem;
    width: 10%;
    border-radius: 10px;
    padding: .5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    border:1px solid grey;
}
.matches__box{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid black;
    background-color: lightgreen;
    border-radius: 1rem
}
.matches__box>div{
    display: flex;
    flex-direction: column;
    border:1px solid green;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 1rem
}
.matches__box>div>img{
 width: 20%;
}

.wontag{
    width: fit-content;
    padding: .7rem;
    background-color: green;
    color: white;
    border-radius: 5px;
}
.losetag{
    color: white;
    width: fit-content;
    padding: .7rem;
    border-radius: 5px;
    background-color: red;
}
.tietag{
    width: fit-content;
    color: white;
    padding: .7rem;
    border-radius: 5px;
    background-color: orange;
}
#pagination{
    /* margin: 1rem auto; */
    width: fit-content;
    margin-inline: auto ;
    margin-bottom: 1rem;
}
#pagination>button{
    margin-right: .4rem;
    background-color: lightgreen;
    border: 0px;
    border-radius: 5px;
    padding: 8px 12px;
}