body,html{
    padding: 0;
    margin:0;
    background-color: #B1BCE6;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #9A86A4;
    padding: .2rem;
    color:white;
    margin-top: 0;
}
#nav>a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

h1{
    text-align: center;
    padding: 1rem;
    color:white;
    background-color: black;
    margin-top: 0;
}
form{
    width: 30%;
    padding: 2rem;
    margin:1rem auto;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 1rem;
}
table{
    width: 90%;
    padding:1rem;
    margin: 1rem auto;
}
th,td{
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    border:1px solid black;
}
th{
background-color: lightgreen;
}
td{
    background-color: lightblue;
}
#btn{
    border:0;
    padding:10px 14px;
    margin-right: .5rem;
    border-radius: 10px;
}
