html,
body {
  margin: 0;
  padding: 0;
  background-color: #2E4F4F;
}
h1{
text-align: center;
background-color: #2C3333;
padding: 1rem;
color:white;
margin-top: 0;
}

form {
  width: 30%;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #CBE4DE;
  border-radius: 10px;
  /* margin-top: 1rem; */
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
input,select{
  height:2rem;
  padding-left:10px;
  margin-bottom: .5rem;
  border-radius: 10px;
  border:1px solid #0E8388;
}
input[type = 'submit']{
  background-color: #0E8388;
  color:white;  
}