html,body{
    margin:0;
    padding:0;
}
#navbar{
width: 100vw;
display: flex;
justify-content: space-evenly;
background-color: black;
color: white;
}
#navbar>div{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}